# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

logs/

#Config
sign.conf

#misc
*.lock
satdat.txt
satsup.txt
resortdata.json
resortlist.txt
icons/snow/logos/*
!icons/snow/logos/DEFAULT.png
icons/favicon
de421.bsp
moon_pa_de421_1900-2050.bpc
moon_080317.tf
pck00008.tpc
disable_update
icons/finance/logos/*
!icons/finance/logos/.gitkeep 
icons/lightning/*
!icons/lightning/.gitkeep
.data/audio
