timezonefinder==5.2.0
country-converter==0.7.4
favicon==0.7.0
pyowm==3.3.0
requests==2.31.0
websocket-client==1.3.2
yfinance==0.2.41
FlightRadarAPI==1.2.0
skyfield==1.46
numba==0.60.0
pyproj==3.6.1
geopandas==1.0.1