timezonefinder==5.2.0
country-converter==0.7.4
favicon==0.7.0
Flask==2.1.2
Werkzeug==2.1.2
Flask-Cors==3.0.10
pytz==2022.1
pyowm==3.3.0
requests==2.27.1
websocket-client==1.3.2
yfinance==0.1.70
FlightRadarAPI==1.2.0
skyfield==1.46
