#number min -90 max 90
SENSOR_LAT=39.179191

#number min -180 max 180
SENSOR_LON=-76.668388

#text
WEATHER_CITY_NAME=Severn

#checkbox
MILITARY_TIME=false

#checkbox
AIRPORT_SCROLL=true

#checkbox
HIDE_STARLINK=false

#range min 0 max 100
DEFAULT_BRIGHTNESS=80

#number min 0 max 100000
CLOSEST_HEIGHT_LIMIT=10000

#text
PINOUT_HARDWARE_MAPPING=adafruit-hat

#number min 0 max 5
GPIO_SLOWDOWN=5

#text
OPENWEATHER_API_KEY=

#text
GOOGLEMAPS_API_KEY=

#text
IGNORE_AIRPORT_CODES=BWI,IAD,DCA