[Unit]
Description=Start the BLE server
[Service]
User=root
Group=root
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python /home/pi/PlaneSign/ble/planesign_ble.py
[Install]
WantedBy=multi-user.target
